@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*,
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 0.75rem;
    background-color: hsl(273, 75%, 66%);
    background-image: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    .faq-accordion-container{
        max-width: 900px;
        width: 80%;
        height: 460px;
        background-color: #fff;
        display: flex;
        border-radius: 20px;
        .faq-accordion-image{
            width: 50%;
            background-image: url(../images/bg-pattern-desktop.svg);
            background-position: -320px;
            background-repeat: no-repeat;
            background-size: 700px 700px;
            position: relative;
            overflow: hidden;
            .illustraion-woman-image{
                width: 100%;
                vertical-align: middle;
                position: relative;
                top: 70px;
                right: 70px;
            }
            .illustration-box{
                position: absolute;
                bottom: 80px;
                right: 350px;
            }
        }
        .faq-accordion{
            width: 50%;
            padding: 4em 10em 4em 0;
            .faq-accordion-title{
                font-size: 1.7rem;
                text-transform: uppercase;
                font-weight: 700;
                margin-bottom: 1.5em;
            }
            .faq-accordion-questions-container{
                .faq-accordion-questions{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    .faq-accordion-question{
                        font-size: 0.85rem;
                        color: hsl(237, 16%, 25%);
                        cursor: pointer;
                        &:hover{
                            color: hsl(14, 88%, 65%);
                        }
                    }
                    .arrow-down{
                        width: 10%;
                        height: 50%;
                        padding: 1em;
                        cursor: pointer;
                    }
                }
                .faq-accordion-answer{
                    display: none;
                    font-size: 0.7rem;
                    color: hsl(240, 6%, 50%);
                    margin: 1em 0 1.8em 0;
                }
            }
            // Show and hide answer
            .show-answer{
                .faq-accordion-question{
                    font-weight: 700;
                }
                .arrow-down{
                    transform: rotate(180deg);
                } 
                .faq-accordion-answer{
                    display: block;
                }
            }
            hr{
                display: block;
                height: 1px;
                border: 0;
                border-top: 1px solid #ccc;
                padding: 0;
                margin: 0.75em 0;
            }
        }
    }
}
@media(max-width: 1130px){
    main{
        .faq-accordion-container{
            max-width: 700px;
            width: 90%;
            height: 428px;
            .faq-accordion-image{
                background-position: -220px;
                background-size: 500px 500px;
                .illustration-box{
                    width: 35%;
                    bottom: 130px;
                    right: 285px;
                }
            }
            .faq-accordion{
                padding: 3em 5em 3em 0;
                .faq-accordion-title{
                    font-size: 1.45rem;
                }
                .faq-accordion-questions-container{
                    .faq-accordion-questions{
                        .faq-accordion-question{
                            font-size: 0.75rem;
                        }
                        .arrow-down{
                            width: 11.3%;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 780px){
    main{
        .faq-accordion-container{
            max-width: 300px;
            height: 500px;
            flex-direction: column;
            .faq-accordion-image{
                width: 100%;
                height: 110px;
                background-position: -120px;
                background-size: 200px 200px;
                overflow: visible;
                .illustraion-woman-image{
                    width: 70%;
                    top: -90px;
                    left: 50px;
                }
                .illustration-box{
                    width: 25%;
                    bottom: 65px;
                    right: 190px;
                }
            }
            .faq-accordion{
                width: 100%;
                padding: 0 2em 2em 2em;
                .faq-accordion-title{
                    font-size: 1.9rem;
                    text-align: center;
                    margin-bottom: 1em;
                }
                .faq-accordion-questions-container{
                    .faq-accordion-questions{
                        .arrow-down{
                            width: 13%;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 400px){
    main{
        min-height: 110vh;
    }
}
@media(max-height: 700px){
    main{
        min-height: 110vh;
    }
}